################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

#/PizzaShop/packages
/PizzaShop/PizzaShop/bin
/PizzaShop/PizzaShop/App_Data
/PizzaShop/PizzaShop/Content
/PizzaShop/PizzaShop/fonts
/PizzaShop/PizzaShop/obj/Debug
#/PizzaShop/PizzaShop/Scripts
/PizzaShop/.vs/PizzaShop/v15
/PizzaShop/PizzaShop/obj/Release
/obj/Release
/PizzaShop/Dominio/obj/Debug/Dominio.csprojResolveAssemblyReference.cache
/PizzaShop/Application/obj/Debug/Application.csprojResolveAssemblyReference.cache
