{
box-sizing: border-box;
}
body{
 margin:0:
 font-family: Arial sans-serif;
 background: #204862;
 }
 
h1{
color: #fff;
text-align: center;
}
h2{
color: #fff;
text-align: center;
font-weight: 50;
}

.form-register{
width: 95%;
max-width: 500px;
margin: auto;
background:white;
border-radius: 7px;
}
.form-titulo{
background: deepskyblue;
color: #fff;
padding: 20px:
text-align: center;
font-weight: 100;
font-size: 30px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border.bottom: 5px solid crimson;
}

.contenedor-inputs{
	padding: 10px 30 px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	line-height:15px;
}

input{
margin-bottom: 15px;
padding: 15px;
font-size: 16px;
border-radius:3px;
border: 1px solid darkgray;
}




label {
	  	display: inline-block;
	  	width: 25%;
	  	text-align: right;
	  	margin: 15px
		}
		
.btn{
	font-size: 1em;
  		border-radius: 8px;
  		padding: 10px;
	 background: #204862;
	 color: #fff;
		}
		


		
		
		
		



	










 
 